/* header
------------------------------------------------------------- */

header{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-between;
    position:fixed;
    background-color:white;
}

header ul{
    height:100%;
    display:flex;
    list-style-type: none;
}

.header-logo{
    margin-top:14px;
    margin-left:9.5%;
}

nav {
    margin-left:20%;
}

.header-nav li{
    margin-right:22px;
    display:flex;
    align-items:center;
}

.header-nav a{
    
    font-size:13px;
    color:#000;
    font-weight: bold;
    text-decoration:none;
}

.header-nav li:hover{
    border-bottom:1px solid blue;
}

.header-nav a:hover{
    color:blue;
}

.header-right ul{
    width:170px;
    display:flex;
    justify-content:space-around;
}

.header-right li{   
    display:flex;
    align-items:center;
    
}

.header-right a{
    height:20px;
    width:20px;
}

/* main
------------------------------------------------------------------ */

main{
    padding-top:60px;
}

.breadcrumb{
    margin-top:3px;
    display:flex;
    margin-left:17%;
}

.breadcrumb li{
    list-style-type: none;
    font-size:15px;
}

.breadcrumb a{
    color:#808080;
    text-decoration:none;
}

.breadcrumb li:after{
    content:">";
    padding:0 0.2rem;
}

.breadcrumb li:last-child:after{
    content:"";
}




